@import '//at.alicdn.com/t/font_2020903_332njjyy0f9.css';
@import '//at.alicdn.com/t/font_1599428_6lzvhbag54b.css';
@import '//at.alicdn.com/t/font_2020903_3tnjuyso9ki.css';

[class*=' el-icon-lx'],
[class^='el-icon-lx'] {
  font-family: lx-iconfont !important;
}
.iconfont {
  color: #8a8a8a;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.iconfont {
  display: inline-block;
  width: 20px;
  height: 20px;
}
